[submodule "grains/library-go"]
	path = library-go
	url = https://github.com/openshift/library-go
[submodule "grains/cluster-openshift-apiserver-operator"]
	path = cluster-openshift-apiserver-operator
	url = https://github.com/openshift/cluster-openshift-apiserver-operator
[submodule "grains/api"]
	path = api
	url = https://github.com/openshift/api
[submodule "grains/apiserver-library-go"]
	path = apiserver-library-go
	url = https://github.com/openshift/apiserver-library-go
[submodule "grains/client-go"]
	path = client-go
	url = https://github.com/openshift/client-go
[submodule "grains/service-ca-operator"]
	path = service-ca-operator
	url = https://github.com/openshift/service-ca-operator
[submodule "grains/cluster-kube-apiserver-operator"]
	path = cluster-kube-apiserver-operator
	url = https://github.com/openshift/cluster-kube-apiserver-operator
[submodule "grains/cluster-kube-controller-manager-operator"]
	path = cluster-kube-controller-manager-operator
	url = https://github.com/openshift/cluster-kube-controller-manager-operator
[submodule "grains/build-machinery-go"]
	path = build-machinery-go
	url = https://github.com/openshift/build-machinery-go
[submodule "grains/cluster-etcd-operator"]
	path = cluster-etcd-operator
	url = https://github.com/openshift/cluster-etcd-operator
[submodule "grains/cluster-openshift-controller-manager-operator"]
	path = cluster-openshift-controller-manager-operator
	url = https://github.com/openshift/cluster-openshift-controller-manager-operator
[submodule "grains/cluster-authentication-operator"]
	path = cluster-authentication-operator
	url = https://github.com/openshift/cluster-authentication-operator
[submodule "csi-operator"]
	path = csi-operator
	url = https://github.com/openshift/csi-operator
[submodule "machine-config-operator"]
	path = machine-config-operator
	url = https://github.com/openshift/machine-config-operator
[submodule "cluster-kube-descheduler-operator"]
	path = cluster-kube-descheduler-operator
	url = https://github.com/openshift/cluster-kube-descheduler-operator
[submodule "console-operator"]
	path = console-operator
	url = https://github.com/openshift/console-operator
[submodule "cluster-csi-snapshot-controller-operator"]
	path = cluster-csi-snapshot-controller-operator
	url = https://github.com/openshift/cluster-csi-snapshot-controller-operator
[submodule "machine-api-operator"]
	path = machine-api-operator
	url = https://github.com/openshift/machine-api-operator
[submodule "cluster-image-registry-operator"]
	path = cluster-image-registry-operator
	url = https://github.com/openshift/cluster-image-registry-operator
[submodule "cluster-version-operator"]
	path = cluster-version-operator
	url = https://github.com/openshift/cluster-version-operator
[submodule "cluster-kube-storage-version-migrator-operator"]
	path = cluster-kube-storage-version-migrator-operator
	url = https://github.com/openshift/cluster-kube-storage-version-migrator-operator
[submodule "cluster-kube-scheduler-operator"]
	path = cluster-kube-scheduler-operator
	url = https://github.com/openshift/cluster-kube-scheduler-operator
